* {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(220, 220, 220);
}

window#waybar {
  background-color: transparent;
}

#backlight,
#battery,
#clock,
#custom-wlogout,
#privacy,
#privacy-item,
#pulseaudio,
#network,
#window,
#bluetooth,
#language,
#workspaces {
  transition-property: background-color;
  transition-duration: 0.25s;
  padding: 0px 5px;
  border-radius: 7px;
  background-color: rgb(50, 50, 50);
}

#backlight:hover,
#clock:hover,
#custom-wlogout:hover,
#pulseaudio:hover,
#bluetooth:hover {
  background-color: rgb(90, 90, 90);
}

window#waybar.empty #window {
  background-color: transparent;
}

#privacy {
  padding: 0px;
  background-color: rgb(150, 150, 150);
}

#privacy-item.screenshare {
  background-color: rgb(200, 60, 60);
}

#privacy-item.audio-in {
  background-color: rgb(250, 150, 20);
}

#bluetooth.discovering {
  transition-property: background-color;
  transition-duration: 1s;
  background-color: rgb(50, 50, 200);
}

#workspaces {
  padding: 0px;
  background-color: rgba(60, 60, 60, 0.3);
}

#workspaces button {
  margin: 0px 2px;
  padding: 0px 4px;
  transition-property: background-color;
  transition-duration: 0.25s;
  background-color: rgba(90, 90, 90, 0.5);
}

#workspaces button.empty {
  background-color: rgba(50, 50, 50, 0.5);
}

#workspaces button.active {
  background-color: rgba(160, 160, 160, 0.5);
}

#workspaces button:hover {
  transition-property: background-color;
  transition-duration: 0.25s;
  background-color: rgba(230, 230, 230, 0.5);
}

@keyframes blink {
  from {
    color: rgb(90, 90, 90);
  }

  to {
    color: rgb(250, 50, 50);
  }
}

#battery.discharging.warning {
  transition-property: background-color;
  transition-duration: 0.5s;
  background-color: rgb(150, 150, 50);
}

#battery.discharging.critical {
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation: blink;
}
