/*
 * text: (200, 200, 200);
 * 
 * default-background: (40, 40, 40);
 * hover-background: (60, 60, 60);
 *
 * default-border: (140, 140, 140);
 * important-border: (200, 75, 75);
 */

* {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(200, 200, 200);
    background-color: transparent;
}

window#waybar {
    margin: 2px 2px 0px 2px;
    background-color: rgba(40, 40, 40, 0.8);
    border-color: rgba(100, 100, 100, 0.8);
    border-width: 2px;
    border-bottom-style: solid;
}

#workspaces,
#workspaces button,
#window,
#clock,
#network,
#bluetooth,
#pulseaudio,
#backlight,
#language,
#privacy,
#privacy-item,
#battery,
#custom-wlogout {
    margin: 1px 2px;
    margin-bottom: 2px;
    padding: 0px 9px;
    background-color: rgb(40, 40, 40);
    border-style: solid;
    border-radius: 0px; 
    border-width: 2px;
    border-color: rgb(140, 140, 140);
}
#clock:hover,
#bluetooth:hover,
#pulseaudio:hover,
#backlight:hover,
#custom-wlogout:hover {
    background-color: rgb(60, 60, 60);
}

#workspaces {
    padding: 0px;
}
#workspaces button {
    margin: 2px;
    background-color: rgb(40, 40, 40);
}
#workspaces button.empty {
    border-color: rgb(90, 90, 90);
}
#workspaces button.active {
    background-color: rgb(60, 60, 60);
}

window#waybar.empty #window {
    background-color: transparent;
    border-style: none;
}

#privacy {
    padding: 0px;
}
#privacy-item.screenshare,
#privacy-item.audio-in {
    margin: 2px;
    background-color: rgba(200, 75, 75, 0.4);
    border-color: rgb(200, 75, 75);
}
