/*
 * text: (190, 190, 190);
 * 
 * default-background: (50, 50, 50);
 * hover-background: (70, 70, 70);
 *
 * default-border: (120, 120, 120);
 * important-border: (200, 75, 75);
 */

* {
    font-size: 14px;
    font-family: 'JetBrainsMono Nerd Font';
    color: rgb(190, 190, 190);
    background-color: transparent;
}

window#waybar {
    margin: 2px 2px 0px 2px;
    background-color: rgb(50, 50, 50);
    border-color: rgb(100, 100, 100);
    border-width: 2px;
    border-bottom-style: solid;
}
#workspaces,
#workspaces button,
#window,
#clock,
#network,
#bluetooth,
#pulseaudio,
#backlight,
#language,
#privacy,
#privacy-item,
#battery,
#custom-wlogout {
    margin: 1px 2px;
    margin-bottom: 3px;
    padding: 0px 9px;
    background-color: rgb(50, 50, 50);
    border-style: solid;
    border-radius: 0px; 
    border-width: 2px;
    border-color: rgb(120, 120, 120);
}
#clock:hover,
#bluetooth:hover,
#pulseaudio:hover,
#backlight:hover,
#custom-wlogout:hover {
    background-color: rgb(70, 70, 70);
}

#workspaces {
    padding: 0px;
}
#workspaces button {
    margin: 2px;
    padding: 0px 5px;
    background-color: rgb(50, 50, 50);
}
#workspaces button.empty {
    border-color: rgb(90, 90, 90);
}
#workspaces button.active {
    background-color: rgb(70, 70, 70);
}

#window {
    border-color: rgb(30, 30, 30);
    background-color: rgb(40, 40, 40);
}

#privacy {
    padding: 0px;
}
#privacy-item.screenshare,
#privacy-item.audio-in {
    margin: 2px;
    padding: 0px 5px;
    background-color: rgba(200, 75, 75, 0.4);
    border-color: rgb(200, 75, 75);
}

#custom-wlogout {
    padding-right: 12px;
}
