#text {
  font-size: 17px;
  color: rgb(220, 220, 220);
}

#window {
  background-color: rgba(255, 0, 0, 0.5);
}

#outer-box, #scroll {
  background-color: rgba(0, 255, 0, 0.5);
}

#inner-box {
  background-color: rgba(0, 0, 255, 0.5);
}

#input {
  background-color: rgba(50, 50, 50, 0.9);
}




